<!DOCTYPE html>
<html lang="en-CA">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>

  <link id="main-css" href="/styles/74138ee3c443/main.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <header class="core">
    <h1 class="logo"><a href="/"><span class="pa">(</span><span class="wa">first</span> <span class="pb">(</span><span class="wb">rest</span><span class="pb">)</span><span class="pa">)</span></a></h1>

    <nav class="core__navigation--dropdown">
      <a>Menu</a>
      <section class="dropdown__content"></section>
    </nav>

    <nav class="core__navigation"></nav>
  </header>

  <section class="wraps">

  </section>

  <footer class="endcap"></footer>
</body>
</html>